<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.vpn9.daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/libexec/vpn9/vpn9-daemon</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>UserName</key>
  <string>root</string>
  <key>StandardOutPath</key>
  <string>/var/log/vpn9-daemon.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/vpn9-daemon.err</string>
  <key>WorkingDirectory</key>
  <string>/usr/local/libexec/vpn9</string>
</dict>
</plist>
